table{
  border-collapse: collapse;

}
tr,td,th{
  border: 1px solid black;
  padding: 5px;
}


.table_goods{
  background: rgba(240, 205, 66, 0.71);

}
.goods:nth-child(n)
{ border: 1px dashed gray;
}
.goods:nth-child(n)
{ border: 1px dashed gray;
}
